<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>OpenMp3Player</title>
</head>
<body>

	<div>
		<h1>My files</h1>
		<div th:each="file : ${files}">
			<div>
				<form th:method="put" th:action="@{/}">
					<input type="hidden" name="id" th:value="${file.id}" />
					<input type="hidden" name="hash" th:value="${file.hash}" />
					<span th:text="${file.hash}"></span>
				</form>
			</div>
			<div>
				<form th:method="delete" th:action="@{/}">
					<input type="hidden" name="id" th:value="${file.id}" />
					<button class="button u-full-width" type="submit">Delete</button>
				</form>
			</div>
		</div>
		<hr />
	</div>

</body>
</html>