<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>
<body>

	<div class="container">
		
		<div th:replace="template :: topLayer"></div>
		
		<div th:replace="template :: playerControls"></div>
		
		<h1>Playlist</h1>
		
		<p th:text="${playlist.name}"></p>
		<p th:text="${playlist.id}"></p>
		<hr />
		
		<div th:each="m : ${playlist.mp3files}">
<!-- 			<p th:text="${p.name}"></p> -->
			<a th:href="@{/OpenMp3Player/mp3file/{id}(id=${m.id})}" th:text="${m.path}"></a>
		</div>
		
		<hr />
		<div th:replace="template :: footer"></div>
	</div>

</body>
</html>