@CHARSET "UTF-8";

/* * { */
/* 	font: 14px Verdana, Arial, Helvetica, sans-serif; */
/* 	color: #AAA; */
/* 	padding: 0px; */
/* 	margin: 0px; */
/* } */

/* .background { */
/* 	background-color: #222222; */
/* } */

.border {
	border: 1px solid #FF0000;
}

.holder {
	border-top: 1px solid #DDD;
	margin-top: 5px;
	padding: 5px;
}