@CHARSET "UTF-8";

* {
	padding: 0px;
	margin: 0px;
}

body {
	font: 38px Verdana, Arial, Helvetica, sans-serif;
	background-color: #badfff;
}

td {
	font-size: 38px;
	color: black;
}

.title {
	font-color: black;
}

.subtitle {
	
}