@CHARSET "UTF-8";

* {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	color: #323;
	padding: 0px;
	margin: 0px;
}

.background {
	background-color: #222222;
}


.title {
	color: white;
	font-size: 32px;
	font-weight: bold;
/* 	border: 1px solid #FF0000; */
}

.icon {
/* 	width: 64px; */
}

.valign-middle {
	vertical-align: middle;
}

.test {
	border: 1px solid #FF0000;
}

.table-odd-row {
	background-color: #FFF;
}

.table-even-row {
	background-color: #DDD;
}

.largeText {
	font-size: 24px;
}

.text-white {
	color: white;
}

.error {
	color: red;
}

a, a:hover, a:visited, a:link {
	text-decoration: none;
}

.tagBorder {
	border: 1px solid #555;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	font-size: 14px;
	padding: 3px;
	margin-right: 5px;
	margin-top: 5px;
}


#popup_box { 
    display: none;
    position: fixed;  
    left: 40%;
    top: 30%;
    z-index: 100;
    
    background: #111111;
    opacity:0.8;
    filter:Alpha(opacity=80); /* IE8 and earlier */
    
    border: 2px solid #FF0000;
    border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	border-top-left-radius: 7px 7px;
	border-top-right-radius: 7px 7px;
	
    padding: 10px;  
    font-size: 24px;
    font-weight: bold;
    color: white;
    
}

